<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> <MARQUEE>Dhoni Page</MARQUEE></h1>
        <h1> We are using Generic url mapping to get this page</h1>
        <a href="{% url 'dhoni:sahana' %}">Go to Sahana page</a>
        <h1> INDIAN SPACE RESERACH ORGANISATION </h1>
        <h5>Sriharikota is a barrier island off the Bay of Bengal coast located in the Shar Project settlement of Tirupati district in Andhra Pradesh, India. It houses the Satish Dhawan Space Centre, one of the two satellite launch centres in India (the other being Thumba Equatorial Rocket Launching Station, Thiruvananthapuram). Indian Space Research Organisation (ISRO) launches satellites using multistage rockets such as the Polar Satellite Launch Vehicle and the Geosynchronous Satellite Launch Vehicle from Sriharikota. Sriharikota is selected by ISRO because of its proximity to the equator, it gives extra centripital force from the rotation of Earth.</h5>
    </center>
</body>
</html>